{% extends 'layout.html' %}
{% block body %}
<div class="bg-image bg-image-centered">
	<div class="container well">
		<h1>A Comunity of Givers<h1>
		<p>Grantd is global community of givers that connects people who seek to create positive change, and helps them create a plan to do so.</p>
	</div>
	<div class="container well">
		<h1>Inspiration<h1>
		<p>Our dream is to help go-getters who want to donate to causes be able to do just that, easily and safely. We advocate for transparency and simple solutions to help people who want to give and people who want to act.</p>
	</div>
	<div class="container well">
		<h1>How it Works<h1>
		<p>Givers can easilly submit a grant which will only to causes the giver is passionate about. At the same time, changers can propose projects geared toward their own passions and our website will seemlessly connect the two of them.</p>
	</div>
</div>
{% endblock %}