{% extends 'layout.html' %}
{% block body %}
<header id="header" class="bar">
	<div class="container">
		<h1>Proposal Dashboard</h1>
	</div>
</header>
<div class="container">
	<a class="btn btn-primary" href="/pdash_add">Add Proposal</a>
	<hr>
	<h4>Standing Proposals</h4>
	{% if props|length > 0 %}
		<table class="table table-striped">
			<tr>
				<th>Title</th>
				<th>Amount</th>
				<th>Description</th>
				<th>Tags</th>
				<th>Location</th>		
			</tr>
			{% for prop in props %}
				<tr>
					<td>{{prop.title}}</td>
					<td>{{prop.amount}}</td>
					<td>{{prop.description}}</td>
					<td>{{prop.tags}}</td>
					<td>{{prop.location}}</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}

	<h4>Matched Grants</h4>
	{% if grants|length > 0 %}
		<table class="table table-striped">
			<tr>
				<th>Amount</th>
				<th>Description</th>
				<th>Tags</th>
				<th>Location</th>	
				<th></th>	
			</tr>
			{% for grant in grants %}
				<tr>
					<td>{{grant.amount}}</td>
					<td>{{grant.description}}</td>
					<td>{{grant.tags}}</td>
					<td>{{grant.location}}</td>
					<td><input type="submit" value="Contact" class="btn btn-success"></td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
</div>
{% endblock %}